.breadcrumbSeparator {
    max-width: 20px;
    max-height: 20px;
}

.breadcrumb {
display: flex;
align-items: center;
font-size: 1rem;
color: var(--primary-blue);
margin: 1.5rem 0 3rem 2rem;
gap: 0.5rem;
}
.breadcrumb a {
color: var(--primary-blue);
text-decoration: none;
font-weight: 500;
transition: color 0.2s;
}
.breadcrumb a:hover {
color: #FF8A65;
text-decoration: underline;
}

.breadcrumbSeparator {
max-width: 20px;
max-height: 20px;
}

.currentPage {
    color: var(--accent-orange);
}

.whiteLink {
    color: white !important;
  }
  
  .whiteLink:hover {
    color: #ccc !important; 
}