.root {
  background: #fff;
  width: 100%;
  min-height: 100vh;
}
.titleSection {
  background: #d2eafd;
  padding: 4rem 0 2rem 0;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--primary-blue);
  margin: 0;
}

.currentPage {
  color: var(--accent-orange);
}

.contentRow {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 2.5rem;
  align-items: flex-start;
  padding-bottom: 6rem;
}
.imageCol {
  flex: 0 0 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin-right: 1.5rem;
}
.cleoneImg {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 16px rgba(32,91,119,0.10);
}
.imgCaption {
  margin-top: 0.5rem;
  color: #475569;
  font-size: 1rem;
  text-align: left;
}
.textCol {
  flex: 1;
  color: #475569;
  font-size: 1.1rem;
  line-height: 1.7;
}
.italic {
  color: #475569;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.quote {
  margin: 1.5rem 0 0 0;
  width: 100%;
  box-sizing: border-box;
}

.quoteBorder {
  border-left: 3px solid var(--accent-orange);
  padding: 0rem 0rem 0rem 1.5rem;
  border-radius: 0 8px 8px 0;
  display: inline-block;
}

.quote p {
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  color: #0F172A;
  line-height: 1.5;
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}

.quote footer {
  margin-top: 2rem;
  font-size: 1rem;
  font-style: italic;
  color: #475569;
  text-align: right;
  font-weight: normal;
  padding-right: 0.5rem;
}

.signature {
  margin-top: 2.5rem;
  color: #475569;
  font-size: 1rem;
  text-align: right;
}

@media (max-width: 1100px) {
  .contentRow {
    flex-direction: column;
    gap: 1.5rem;
    max-width: 98vw;
    padding: 0 0.5rem;
  }
  .imageCol {
    margin-right: 0;
    align-items: center;
    /* margin-bottom: 1.5rem; */
  }
  .cleoneImg {
    max-width: 90vw;
  }

  .textCol {
    padding: 0rem 1rem 4rem 1rem;
  }

  .quote {
    padding: 0rem 1rem;
  }
} 