.hex {
    width: 225px;
    height: 200px;
    margin: 0 -16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(
      25% 6.7%, 75% 6.7%,
      100% 50%, 75% 93.3%,
      25% 93.3%, 0% 50%
    );
  
    box-shadow: 0 4px 16px 0 rgba(32, 91, 119, 0.08);
    position: relative;
    transition: box-shadow 0.2s;
    text-align: center;
    padding: 1.2rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.statHex {
  background: #16597A;
  color: #fff;
}

.iconHex {
  background: #F6FAFB;
}

.shift {
  transform: translateX(50%);
}